@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {//600px
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {//900px
            @content;
        }
    }
    @if $breakpoint == tab-land {//1200px
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == big-desk {//1800px
        @media (min-width: 112.5em) {
            @content;
        }
    }
}
