// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondery-light: #ffb900;
$color-secondery-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-dark-1: #777;
$color-gray-dark-2:#999;
$color-gray-dark-3:#333;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

// Font Sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small:6rem;
$gutter-horizontial: 6rem;

//shadow
$shadow-smaller-light: 0 1rem 2rem rgba($color-black, 0.1);
$shadow-small-light: 0 1.5rem 4rem rgba($color-black, 0.15);
$shadow-small: 0 1.5rem 4rem rgba($color-black, 0.4);
$shadow-large-light: 0 3rem 6rem rgba($color-black, 0.1);

//
