.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        background-color: rgba($color-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        width: 100%;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: $shadow-smaller-light;

            &:invalid {
                border-bottom: 3px solid $color-secondery-dark;
            }

            &:valid {
                border-bottom: 3px solid $color-primary;
            }
        }
        &::-webkit-input-placeholder {
            color: $color-gray-dark-2;
        }
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin-top: 0.7rem;
        margin-left: 2rem;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio {
        width: 49%;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            margin-bottom: 1rem;
        }
        &-input {
            display: none;
        }
        &-label {
            font-size: $default-font-size;
            cursor: pointer;
            position: relative;
            padding-left: 4rem;
        }
        &-button {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            display: inline-block;
            border: 5px solid $color-primary;
            position: absolute;
            left: 0;
            top: -0.5rem;

            &::after {
                @include absoluteCenter;
                height: 1.3rem;
                width: 1.3rem;
                display: block;
                content: "";
                border-radius: 50%;
                background-color: $color-primary;
                opacity: 0;
                transform: opacity 0.2s;
            }
        }
        &-input:checked ~ &-label &-button::after {
            opacity: 1;
        }
    }
}
